oatpp.lib filter=lfs diff=lfs merge=lfs -text
wms-cpp/lib-oatpp/lib64/release/oatpp.lib filter=lfs diff=lfs merge=lfs -text
wms-cpp/lib-oatpp/lib64/debug/oatpp.lib filter=lfs diff=lfs merge=lfs -text
